<h1 mat-dialog-title>Wybierz słownik</h1>
<p class="mb-4">* Słowniki wielopoziomowe są dostępne tylko dla typu pola "lista rozwijana"</p>

<section>
  <div mat-dialog-content>
    <mat-list class="dictionaries-list" data-testid="dictionariesList">
      <mat-list-item *ngFor="let item of dictionaries; trackBy: trackById">
        <h3 class="gov-h5" matLine>{{ item.name }}</h3>
        <button type="button" class="btn btn-secondary" (click)="onChoseDictionary(item)">Użyj</button>
      </mat-list-item>
    </mat-list>
  </div>

  <div mat-dialog-actions class="mt-3 mb-1 dictionary__actions">
    <button class="btn btn-primary" mat-dialog-close>Anuluj</button>
  </div>
</section>
